@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif !important;

}

.header-img{
    position: relative;
    width: 100vw;
    height: 500px;
    background-image: linear-gradient(to right, rgba(0,0,0,0.4),rgba(0,0,0,0.6)), url("./assets/bg3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    width: 100vw;
    height: 60px;

}

.nav-menu{
    width: 60vw;
    height: 60px;
    
}

.zomato{
    display: block;
    font-weight: bolder;
    color: white;
    text-align: center;
    font-size: 70px;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}

.subtext{
    display: block;
    font-weight: bolder;
    color: white;
    text-align: center;
    font-size: 37px;
    margin: 0;
    font-family: 'Roboto', sans-serif !important;
    letter-spacing: 0.1rem;
    font-weight: 400 !important;

}

.header-flex{
    margin-top: 100px;
}

.nav-link{
    border-bottom: 0px solid black;
    transition: border-bottom color 0.3s;
    cursor: pointer;
    font-family: 'Roboto', sans-serif !important;
    /* font-weight: 400; */
    letter-spacing: 0.15rem;
    font-weight: 300 !important;
}

.nav-link1{
    cursor: pointer;
    font-family: 'Roboto', sans-serif !important;
    letter-spacing: 0.15rem;
    font-weight: 300 !important;
}

.nav-link:hover{
    color: #d60516 !important;
    border-bottom: 3px solid #d60516;
}

.nav-link1:hover{
    color: #d60516 !important;

}


.search-box{
    width: 30vw;
    height: 45px;
    background-color: white;
    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 20px;
    outline: none;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.1rem;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 400;
}

.search-btn{
    width: 130px;
    background-color: #d60516;
    color: white;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.05rem;
    font-family: 'Roboto', sans-serif !important;
    letter-spacing: 0.2rem;
    font-weight: 300 !important;
    transition: background-color 0.3s;
}

.search-btn:hover{
    background-color: #000; 
}

.second-section{
    margin-top: 25px;
    margin-bottom: 50px;
}

.card{
    width: 100%;
    height: 200px;
    background-color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #ccc;
    overflow: hidden;
    transition: box-shadow 0.3s;
    margin-bottom: 10px;
}

.card:hover{
    box-shadow: 1px 1px 10px #000;
    cursor: pointer;
}

.card-bottom{
    position: absolute;
    background-color: white;
    height: 50px;
    width: 100%;
    margin-top: 150px;
}

.card-bottom p{
    font-size: 20px !important;
    letter-spacing: 0.07rem;
    color: rgb(27, 25, 25) !important;
}

.popular-locations{
    margin-top: 50px;
    margin-bottom: 50px;
}

.popular-heading{
    font-size: 35px;
    color: black;
}

.popular-heading span{
    color: #d60516;
    letter-spacing: 0.07rem !important;
    font-weight: 400 !important;
}

.locations-div{
    width: 100%;
    height: 60px;
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
}

.locations-div:hover{
    box-shadow: 1px 1px 5px #ccc;
}


.get-zomato-app{
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgba(234, 241, 139, 0.1);
}

.email-input{
    width: 250px;
    height: 40px;
    padding-left: 10px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 10px;
    background-color: white;
}

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color: #fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#d60516;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#d60516;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}

@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}

@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}

@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

@media only screen and (max-width:760px){
    .locations-div{
        margin-bottom: 10px;
    }
}